.button {
  color: white;
  width: 100%;
  padding: .75rem .5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
}

.buttonHelp {
  background-color: var(--button-background);
}

.buttonHelp:hover {
  background-color: var(--button-background-hover);
}

.buttonHelp:focus {
  outline: 0.05em dashed #ff6600;
  outline-offset: 0.05em;
}

.buttonHelp::after {
  content: '';
  display: block;
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  left: calc(50% - 0.75em);
  top: calc(50% - 0.75em);
  border: 0.15em solid transparent;
  border-right-color: white;
  border-radius: 50%;
  animation: button-anim 0.7s linear infinite;
  opacity: 0;
}

.buttonHelp.loading {
  color: transparent;
}

.buttonHelp.loading::after {
  opacity: 1;
}

@keyframes button-anim {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}


.button:disabled {
  background-color: darkgray;
  cursor: not-allowed;
}