.container{
  text-align: center;
  padding: 50px 1em;
  /* background-color: var(--location-background); */
  width: 100%;
  height: calc(100dvh - 30px);
  display: flex;
  justify-content: center;
  max-width: var(--content-width);
  overflow-x: hidden;
  color: var(--location-foreground);
}